---
import Event from "./Event.astro";
---

<div class="flex justify-around items-center">
    <Event
        icon="weddingIcon.png"
        name="--- Bodas ---"
    /><Event
    icon="weddingIcon.png"
    name="--- Bodas ---"
/><Event
icon="weddingIcon.png"
name="--- Bodas ---"
/><Event
icon="weddingIcon.png"
name="--- Bodas ---"
/>
</div>