---
const {icon, name}=Astro.props
---
<div class="bg-gradient-to-t to-white from-[#005547] rounded-3xl flex flex-col justify-center items-center p-4">
    <img class="w-[150px]" src=`/icons/${icon}` alt={name}>
    <p>{name}</p>
</div>