---
import Event from "./Event.astro";
---

<div class="flex flex-wrap gap-10 md:gap-16 justify-around items-center mt-10">
  <section class="w-[40%] opacity-0 duration-500">
    <h2 class="text-2xl text-center">Bodas</h2>
    <p class="text-lg text-center">Celebraciones de Boda y Aniversarios especiales, para todas aquellas parejas que deseen casarse y conmemorar los años de convivencia tanto dentro como fuera de España. Creando un nuevo concepto innovador y exitoso.</p>
  </section>
  <section class="w-[40%] opacity-0 duration-500 md:duration-1000">
    <h2 class="text-2xl text-center">Cumpleaños</h2>
    <p class="text-lg text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit. Ipsum blanditiis cupiditate tempora animi eveniet nemo at! Officia consequatur pariatur rem? Hic autem nihil maiores placeat.</p>
  </section>
  <section class="w-[40%] opacity-0 duration-500">
    <h2 class="text-2xl text-center">Eventos públicos</h2>
    <p class="text-lg text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit. Ipsum blanditiis cupiditate tempora animi eveniet nemo at! Officia consequatur pariatur rem? Hic autem nihil maiores placeat.</p>
  </section>
  <section class="w-[40%] opacity-0 duration-500 md:duration-1000">
    <h2 class="text-2xl text-center">Eventos privados</h2>
    <p class="text-lg text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, odit. Ipsum blanditiis cupiditate tempora animi eveniet nemo at! Officia consequatur pariatur rem? Hic autem nihil maiores placeat.</p>
  </section>
  <!-- <Event translate="translate-y-16" icon="weddingIcon.png" name="Bodas" />
  <Event icon="cumple.png" name="Cumpleaños" />
  <Event icon="quinceaños.png" name="Quinceaños" />
  <Event translate="translate-y-16" icon="weddingIcon.png" name="Bodas" /> -->
</div>
