---
import Event from "./Event.astro";
---

<div class="flex justify-around items-center">
    <Event
    translate="translate-y-16" 
        icon="weddingIcon.png"
        name="Bodas"
    /><Event
    translate="translate-y-10" 
    icon="cumple.png"
    name="Cumpleaños"
/><Event
translate="translate-y-10" 
icon="weddingIcon.png"
name="--- Bodas ---"
/><Event
translate="translate-y-16" 

icon="weddingIcon.png"
name="--- Bodas ---"
/>
</div>