---
import Event from "./Event.astro";
---

<div class="flex justify-around items-center">
  <Event translate="translate-y-16" icon="weddingIcon.png" name="Bodas" />
  <Event icon="cumple.png" name="Cumpleaños" />
  <Event icon="quinceaños.png" name="Quinceaños" />
  <Event translate="translate-y-16" icon="weddingIcon.png" name="Bodas" />
</div>
