---
import Layout from "../layouts/Layout.astro";
---
<Layout title="AJS eventos | About us">
    <img class="absolute w-full h-full opacity-15 z-0 object-cover Fondo" src="/imagen5.jpg" alt="imagen de fonto">
    <div class="relative mt-10 min-h-[40vh]">
        <h1 class="text-center text-4xl font-bold z-10 degrad">About us</h1>
        <div class="max-w-[1000px] w-[90%] m-auto text-center mt-10 z-10 md:text-2xl">
            <p>Con más de 10 años de experiencia en la organización de eventos públicos y privados, nuestra empresa se ha consolidado como un referente en el sector. Contamos con un equipo profesional y multidisciplinario, apasionado por crear experiencias únicas y memorables para nuestros clientes. Nos especializamos en cada detalle, desde la planificación hasta la ejecución, asegurando que cada aspecto de tu evento esté cubierto con la máxima calidad y dedicación. Nuestro compromiso con la excelencia y la innovación nos permite ofrecer servicios que se adaptan a las necesidades y expectativas de nuestros clientes, garantizando que cada celebración sea inolvidable.
            </p>
            <br>
        </div>
    </div>
</Layout>