---
import Layout from "../layouts/Layout.astro";
---
<Layout title="AJS eventos | About us">
    <img class="absolute w-full h-full opacity-10 z-0 object-cover Fondo" src="/imagen5.jpg" alt="imagen de fonto">
    <h1 class="text-center text-4xl font-bold">About us</h1>
    <div class="max-w-[1000px] w-[90%] m-auto text-center mt-10">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque doloremque, vero non molestiae quibusdam excepturi porro soluta unde, quae maxime eligendi reiciendis saepe nihil suscipit natus laudantium, necessitatibus cupiditate officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error repellendus illum eveniet corporis fuga autem. Tempora similique facere fuga assumenda eligendi culpa sunt corporis, at molestias molestiae nam hic?
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore natus ipsum dolorum. Dolore quia facere odio iste corrupti. Laboriosam officiis accusantium quas, reprehenderit numquam nam est molestiae sunt corporis repellendus rem tenetur? Voluptate explicabo labore dignissimos et nulla exercitationem amet earum deleniti modi tempora odit illum mollitia, voluptatum veniam nesciunt. Quo harum error at pariatur dolorem recusandae quae, unde aperiam?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore natus ipsum dolorum. Dolore quia facere odio iste corrupti. Laboriosam officiis accusantium quas, reprehenderit numquam nam est molestiae sunt corporis repellendus rem tenetur? Voluptate explicabo labore dignissimos et nulla exercitationem amet earum deleniti modi tempora odit illum mollitia, voluptatum veniam nesciunt. Quo harum error at pariatur dolorem recusandae quae, unde aperiam?</p>
    </div>
</Layout>