---
import { Dates } from "../isla/Dates";
import Events from "../components/Events/Events.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="AJS eventos | Inicio">
 
  <div class="relative bg-black h-[44vh] md:min-h-[105vh] bg-no-repeat bg-cover bg-top">
    <img
      class="Banner w-full h-full object-cover md:object-fill object-top"
      src="https://scontent.flpb1-1.fna.fbcdn.net/v/t39.30808-6/465715677_1027127422758190_6580639191806316818_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=MTRvGja_pDgQ7kNvgHBdq8j&_nc_zt=23&_nc_ht=scontent.flpb1-1.fna&_nc_gid=A3Lyd46RKKJMPVDqTHLBYMH&oh=00_AYBFcil36woWYusA2P7AlKj9GmNKZP2YUnnvhpBiD7syiA&oe=673280C8"
      alt="Banner principal"
    />
  </div>
  <div class="flex flex-col justify-center items-center my-10 md:my-20">
    <h1 class="mx-auto w-[60%] text-center translate-y-10 z-10 duration-[1s] text-2xl md:text-6xl font-bold">
      Bienvenido a AJS eventos
    </h1>
    <span class="font-semibold text-center text-lg md:text-3xl opacity-0 duration-[6s]"
      >Haz de tu evento una experiencia inolvidable</span
    >
  </div>
  <div class="relative py-5">
    <img class="absolute object-cover Fondo opacity-15 w-full h-full" src="/imagen2.jpg" />
    <p class="relative max-w-[1000px] w-[90%] m-auto flex items-center text-center text-sm md:text-2xl text-gray-200 opacity-0 duration-700">
      En AJS Eventos, nos dedicamos a crear momentos inolvidables que marcan la vida de quienes confían en nosotros. Con un equipo apasionado y profesional, organizamos bodas, quince años, cumpleaños, eventos privados y públicos. Nuestro compromiso es superar tus expectativas en cada detalle, ofreciendo experiencias únicas y memorables que trascienden el tiempo y reflejan lo mejor de cada ocasión.
    </p>
    <section class="flex flex-col gap-10 z-10 relative mt-10 max-w-[1000px] m-auto w-[90%]">
      <h2 class="mt-10 text-center text-xl md:text-4xl text-gray-100 font-bold"> Los mejores eventos bajo tres pilares:</h2>
      <div class="flex flex-wrap justify-around items-center gap-10 md:grid md:grid-cols-3 place-items-center text-gray-200">
        <div class="flex flex-col items-center justify-center gap-10 translate-y-10 duration-500">
          <img class="icon" src="/icons/calidad.svg" alt="icon de calidad">
          <span class="text-xl md:text-3xl font-bold">
            Calidad
          </span>
        </div>
        <div class="flex flex-col items-center justify-center gap-10 translate-y-10 duration-700">
          <img class="icon" src="/icons/innovation.svg" alt="icon de innovacion">
          <span class="text-xl md:text-3xl font-bold">
            Innovacion 
          </span>
        </div>
        <div class="flex flex-col items-center justify-center gap-10 translate-y-10 duration-1000 w-[90%] md:w-auto">
          <img class="icon" src="/icons/resposibility.svg" alt="icon de calidad">
          <span class="text-xl md:text-3xl font-bold">
            Responsabilidad
          </span>
        </div>
      </div>
    </section>
  </div>
  <div class="relative py-5">
    <img class="absolute object-cover Banner opacity-15 w-full h-full" src="/imagen3.jpg" />
    <section class="relative max-w-[1000px] m-auto duration-[1s]">
    <h2 class="text-center text-xl md:text-4xl text-gray-100 font-bold">Diferentes tipos de eventos: </h2>
      <Events />
    </section>
    <Dates />
  </div>
  <div class="relative py-5">
    <img class="absolute Banner object-cover opacity-15 w-full h-full" src="/imagen4.jpg" />
    <section class="relative max-w-[1000px] w-[90%] m-auto">
      <h2 class="mt-24 text-center text-xl md:text-4xl text-gray-100 mb-3 font-bold">¿Por que elegirnos?</h2>
      <p class="text-center text-sm opacity-80">
        Elegir AJS Eventos es optar por una experiencia sin igual y un servicio que se destaca por su calidad, creatividad e integridad. Nos comprometemos a transformar tus ideas en realidades excepcionales, manteniendo los más altos estándares en cada detalle. Con una visión innovadora y un enfoque responsable, planificamos cada evento pensando en tus necesidades y en el impacto positivo en nuestro entorno. Desde bodas de ensueño hasta eventos públicos impactantes, en AJS Eventos combinamos profesionalismo y pasión para que tu celebración sea verdaderamente inolvidable.
      </p>
    </section>
  </div>
</Layout>
<style>
  .Banner {
    mask-image: linear-gradient(to top, #000 70%, transparent);
  }
  .Fondo{
    mask-image: linear-gradient(to bottom, #000 90%, transparent);
  }
  .icon{
    width: 64px;
  }
  @media (min-width: 768px) {
    .icon{
    width: 89px;
  }
}
</style>
<script>
  const Elementstranslate = document.querySelectorAll(".translate-y-10");
  const ElementsOpacity = document.querySelectorAll(".opacity-0");
  let options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  };
  function Translate(a, b) {
    a.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("translate-y-10");
      }
    });
  }
  function Opacity(a, b) {
    a.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("opacity-0");
      }
    });
  }
  const observerT = new IntersectionObserver(Translate, options);
  const observerO = new IntersectionObserver(Opacity, options);
  Elementstranslate.forEach((translate) => {
    observerT.observe(translate);
  });
  ElementsOpacity.forEach((opacity) => {
    observerO.observe(opacity);
  });
</script>
