---
import Layout from "../layouts/Layout.astro";
import {UpcomingDates} from '../isla/UpcomingDates'
---
<Layout title="AJS eventos | Our dates">
    <div class="min-h-[50vh] py-10 bg-gradient-to-t to-blue-950 from-black">
        <h1 class="text-center text-2xl md:text-4xl font-bold degrad">PROXIMAS FECHAS</h1>
        <UpcomingDates />
    </div>
</Layout>