<nav class="hidden md:block w-[70%] pr-20">
    <ul class="flex justify-end items-center gap-10 font-bold text-xl 2xl:text-2xl">
        <a class="pathname" href="/"><li>Home</li></a>
        <a class="pathname" href="/AboutUs"><li>About us</li></a>
        <a class="pathname" href="/TouringDates"><li>Upcoming Events</li></a>
        <a class="pathname" href="/Gallery"><li>Gallery</li></a>
        <a class="pathname" href="/Contacts"><li>Contact</li></a>
        <a href="/studio"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" /><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg></a>
    </ul>
</nav>
<nav id="nav_mobile" class="md:hidden bg-black absolute top-full right-0 p-10 rounded-bl-[2rem] visibility">
    <ul class="flex flex-col justify-end items-center gap-10 font-bold text-xl 2xl:text-2xl">
        <a class="pathname" href="/"><li>Home</li></a>
        <a class="pathname" href="/AboutUs"><li>About us</li></a>
        <a class="pathname" href="/TouringDates"><li>
            Upcoming Events</li></a>
        <a class="pathname" href="/Gallery"><li>Gallery</li></a>

        <a class="pathname" href="/Contacts"><li>Contact</li></a>
      
    </ul>
</nav>
<style>
    .visibility{
        transform: translateX(100%); 
        transform: scale(0); 
    }
    .activate{
        border-bottom: 2px solid;
        border-color: #361988;
    }
    li{
        transition-duration: 150ms;
        transition-timing-function: ease-out;
    }
    li:hover{
        scale: 1.1;
    }
</style>
<script>
    const pathnames=document.querySelectorAll('.pathname')
    pathnames.forEach(pathname => {
        if(pathname.pathname===location.pathname) pathname.classList.add('activate')    
    });
</script>