---
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Con más de 10 años de experiencia en la organización de eventos públicos y privados, nuestra empresa se ha consolidado como un referente en el sector. Contamos con un equipo profesional y multidisciplinario, apasionado por crear experiencias únicas y memorables para nuestros clientes. Nos especializamos en cada detalle, desde la planificación hasta la ejecución, asegurando que cada aspecto de tu evento esté cubierto con la máxima calidad y dedicación. Nuestro compromiso con la excelencia y la innovación nos permite ofrecer servicios que se adaptan a las necesidades y expectativas de nuestros clientes, garantizando que cada celebración sea inolvidable." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/ajseventos.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative bg-black min-h-[70vh] text-white">
		<Header />
		<main class="relative">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	 .Banner {
    mask-image: linear-gradient(to top, #000 70%, transparent);
  }
  .Fondo{
    mask-image: linear-gradient(to bottom, #000 90%, transparent);
  }
	p{
		opacity: .96;
	}
	h1,h2{
		text-transform: uppercase;
	}
	h3{
		/* color:transparent;
		background:linear-gradient(to right, #CCCCCC 10%, #3AC9BE 90%);
		background-clip: text; */
		color:#E5E5E5;
	}
	.degrad{
		color:transparent;
		background:linear-gradient(to right, #3D33A3 , #3AC9BE );
		background-clip: text;
	}
	.textDegrad{
		color:#3D33A3;
		background-clip: text;
	}
	.text-with-stroke {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }
	::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2A1D8F; /* Color del thumb */
    border-radius: 8px; /* Bordes redondeados */
  }
  ::-webkit-scrollbar-track {
    background-color: #49003d; /* Color de la pista */
  }
</style>
