---
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/ajseventos.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative bg-black min-h-[70vh] text-white grid grid-rows-[1fr_2fr_0.1fr">
		<Header />
		<main class="relative">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	 .Banner {
    mask-image: linear-gradient(to top, #000 70%, transparent);
  }
  .Fondo{
    mask-image: linear-gradient(to bottom, #000 90%, transparent);
  }
	p{
		opacity: .6;
	}
</style>
